
<div class="sociaty-wrapper">
  <ul>
    <li>
      <div class="sociaty-wrapper-div">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div> The Hong Kong Polytechnic University cleared the "Hong Kong independence" slogan. Some students protested </div>
      </div>
    </li>
    <li>
      <div class="sociaty-wrapper-div">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div>Terry will turn to the wind and rain, Du Suzhen will bring the storm and rain to Hainan</div>
      </div>
    </li>
    <li>
      <div class="sociaty-wrapper-div">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div>
          Newsletter! Lotte is determined to sell the supermarket business in China. Previously, it was a big game.</div>
      </div>
    </li>
  </ul>
</div>