<div>
  <div class="wrap">
    <div class="container mt20">
      <div class="big-intro">
        <h1 class="h3">Solutions</h1>
       </div>
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.oschina.net/">Open Source China</a></strong>: The largest open source technology community in the country</li>
            <li><strong><a target="_blank" href="http://www.infoq.com/cn/">InfoQ</a></strong>: Promoting the dissemination of knowledge and innovation in software development </li>
            <li><strong><a target="_blank" href="http://ruby-china.org/">Ruby China</a></strong>: Committed to building a complete Ruby Chinese community</li> >
          </ul>
        </div><div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://pychina.org/about.html">PyChina</a></strong>: Python Chinese Developer Community</li>
            <li><strong><a target="_blank" href="http://www.cocoachina.com/">CocoaChina</a></strong>: The largest Apple Chinese developer community in the country</li>
            <li><strong><a target="_blank" href="http://kaiyuanshe.cn">Open source</a></strong>: A well-known open source alliance in the country</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.html-js.com/">Front Steering</a></strong>: The most professional front-end technical content community</li>
            <li><strong><a target="_blank" href="http://www.bootcss.com/">Bootstrap Chinese Network</a></strong>: Bootstrap Front End Technology Professional Station</li>
            <li><strong><a target="_blank" href="http://www.codeforge.cn/">CodeForge</a></strong>: Code creates the future</li>
          </ul>
        </div>
      </div>
      <h2 class="h4 mt30 mb20">Friendly link</h2><div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.nowcoder.com/">Niuke.com</a></strong>: Professional IT written interview platform</li>
            <li><strong><a target="_blank" href="http://www.lagou.com/">Looking for recruitment</a></strong>: The most professional Internet recruitment platform</li>
            <li><strong><a target="_blank" href="http://www.duoshuo.com/">Speak more</a></strong>: Social comment system</li>
            <li><strong><a target="_blank" href="http://www.ucai.cn/">Youcai</a></strong>: Online Practical Cloud Programming Learning Platform</li>
            <li><strong><a target="_blank" href="http://www.huodongxing.com">Activity</a></strong>: The best event registration and ticketing platform in the country</li>
            <li><strong><a target="_blank" href="http://www.detuyun.com/">Datu Cloud</a></strong>: Mobile Developer Services Platform</li>
            <li><strong><a target="_blank" href="http://www.sendcloud.net/">SendCloud</a></strong>: Professional triggering email delivery platform</li>
            <li><strong><a target="_blank" href="http://www.yuntongxun.com/">Yonglian Cloud Communications</a></strong>: Provides developers with a variety of communication capabilities </li>
            <li><strong><a target="_blank" href="http://www.51idc.com/">51IDC</a></strong>: Know more about cloud services</li>
            <li><strong><a target="_blank" href="http://safedog.cn/">Safe Dogs</a></strong>: Leading Cloud Security and Solution Provider</li>
            <li><strong><a target="_blank" href="http://www.ijiami.cn/">Love Encryption</a></strong>: Mobile Security Software and Mobile Developer Basic Services</li>
            <li><strong><a target="_blank" href="https://www.cdnzz.com/">Cash Cloud</a></strong>: A multinational cloud computing service provider</li>
            <li><strong><a target="_blank" href="http://www.im2maker.com/">Magnesium Guest Network</a></strong>: Intelligent Hardware Information Sharing Platform</li>
            <li><strong><a target="_blank" href="http://www.proginn.com/">Programmer Inn</a></strong>: Programmer’s Broker</li>
            <li><strong><a target="_blank" href="https://boxueio.com/">Parking</a></strong>: iOS full-stack development HD video learning</li>
            <li><strong><a target="_blank" href="https://www.bugtags.com/">Bugtags</a></strong>: The preferred Bug management system for the mobile age</li>
            <li><strong><a target="_blank" href="https://www.sdk.cn">SDK.cn</a></strong>: Developer Services Platform</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.yuantuan.com/">Scorpion</a></strong>: Technology Partner for Entrepreneurs</li>
            <li><strong><a target="_blank" href="http://www.leangoo.com">Leangoo</a></strong>: The most agile project collaboration tool</li>
            <li><strong><a target="_blank" href="http://www.lecloud.com/">LeTV Cloud</a></strong>: Creating a vertically integrated ecosystem-as-a-service cloud model</li>
            <li><strong><a target="_blank" href="http://www.wqdian.com">Micro-sites</a></strong>: Free and easy-to-use H5 self-service platform</li>
            <li><strong><a target="_blank" href="http://www.nagain.com/">Naga Information</a></strong>: Focus on mobile application security solutions and developer services </li>
            <li><strong><a target="_blank" href="http://www.scrumcn.com/">scrum中文网</a></strong>: China's first scrum and agile promotion agency</li>
            <li><strong><a target="_blank" href="http://justalkcloud.com/">JusTalk Cloud</a></strong>: The world's leading mobile audio and video communication cloud platform</li>
            <li><strong><a target="_blank" href="http://www.tuling123.com">Turing Robot</a></strong>: The most intelligent robotic brain in Chinese context</li>
            <li><strong><a target="_blank" href="https://www.uyun.cn">Yu Yun Operation and Maintenance</a></strong>: Full-stack two-state operation and maintenance practitioners, enterprises Level operation and maintenance expert</li>
            <li><strong><a target="_blank" href="http://www.oxcoder.com/developer.html">Circle</a></strong>: You practice coding here. Here is your offer</li>
            <li><strong><a target="_blank" href="https://www.oschina.net">Open Source China</a></strong>: The domestic open source technology community</li>
            <li><strong><a target="_blank" href="https://git.oschina.net/">Code Cloud</a></strong>: The largest and most active source code hosting platform in the country </li>
            <li><strong><a target="_blank" href="https://www.qupaicloud.com/">Fun Clouds</a></strong>: A great mobile video product development platform</li>
            <li><strong><a target="_blank" href="http://www.apicloud.com/">APICloud</a></strong>: Redefining mobile app development</li>
            <li><strong><a target="_blank" href="https://mqc.aliyun.com/?from=sf_friendLink">Alibaba Cloud</a></strong>: Leading domestic mobile Test cloud platform</li>
            <li><strong><a target="_blank" href="http://www.bigsec.com/">岂安科技</a></strong>: Internet business risk control expert</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link"><li><strong><a target="_blank" href="http://www.pmcaff.com">PMCAFF</a></strong>: China’s largest product manager community</li>
            <li><strong><a target="_blank" href="http://www.thinkpage.cn">Know your weather</a></strong>: Providing global weather data services to businesses</li>
            <li><strong><a target="_blank" href="http://jspatch.com">JSPatch Platform</a></strong>: iOS Hot Update Service Platform</li>
            <li><strong><a target="_blank" href="https://www.testwo.com">Test Nest</a></strong>: Software Test Knowledge Spread</li>
            <li><strong><a target="_blank" href="">Aladdin Apple</a></strong>: The first WeChat applet data statistics platform in China</li>
            <li><strong><a target="_blank" href="http://www.apkbus.com/">Android Bus</a></strong>: The Largest Android Programmer Community in the Country</li>
            <li><strong><a target="_blank" href="http://www.code4app.com/">code4app</a></strong>: China's largest iOS source library</li>
            <li><strong><a target="_blank" href="http://www.opendigg.com/">OpenDigg</a></strong>: Mining a quality open source project library</li>
            <li><strong><a target="_blank" href="">bugclose</a></strong>: Simple, adequate bug management tool</li><li><strong><a target="_blank" href="https://www.codecasts.com">CODECASTS</a></strong>: High-quality programming video community</li>
            <li><strong><a target="_blank" href="http://wetest.qq.com/?from=links_SF">WeTest Tencent Quality Open Platform</a></strong>: Tencent One Stop Mobile test cloud platform</li>
            <li><strong><a target="_blank" href="https://www.w3cschool.cn/">W3Cschool</a></strong>: The largest tutorial learning and technical documentation query platform</li>
            <li><strong><a target="_blank" href="https://www.w3cplus.com/">W3cplus</a></strong>: Leading the front end of the web front end</li>
            <li><strong><a target="_blank" href="https://www.yunpian.com/">Clouds</a></strong>: Be a better cloud communication service provider</li>
            <li><strong><a target="_blank" href="https://www.jianguoyun.com/">Nuts Cloud</a></strong>: The most convenient and secure corporate network disk</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>