<div>
  <section class="about-misc">
    <h2 class="h4">About us</h2>
    <ul>
      <li>Three-person team, one-year time, 500,000 lines of code, more than 3,000 submissions, independent development of the underlying framework, on-line Q&A, columns, events and other community platforms, gathering more than 100,000 developers. </li>
      <li>The SegmentFault team introduced hackathon to China. So far, more than 50 hackathons have been held in domestic first-tier Internet cities and in Taipei, Singapore, and Silicon Valley. SegmentFault is currently the largest hackathon organizer in China. </li>
      <li>In early 2014, SegmentFault was selected into the fourth phase of Microsoft Venture Capital Accelerator from 420 companies nationwide and received millions of angel investments from IDG Capital. </li>
    </ul>
  </section>
</div>